@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(77, 77, 252, 0.993);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  background-color: rgba(255, 255, 255, 0.863);
  overflow: hidden;
  width: 400px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
}

.header-forms-container {
  border-bottom: 1px solid;
  background-color: #c0c0c094;
  padding: 20px 40px;
}

.header-forms-container h2 {
	margin: 0;
}

.forms-container {
	padding: 30px 40px;
	margin: 0;
}

.form-control {
  margin-bottom:10px;
  padding-bottom: 20px;
  position: relative;  
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	font-family: inherit;
	font-size: 14px;	
	width: 100%;
	padding: 10px;
	border: 2px solid #f0f0f0;
	border-radius: 4px;
}

.forms-container button {
	background-color: rgba(77, 77, 252, 0.993);
	border: 2px solid rgba(77, 77, 252, 0.993);
	border-radius: 4px;	
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	width: 100%;
	margin-top: 20px;
	color: aliceblue;
}



@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}